<h1>Users#show</h1>

<h3>User.name</h3>
<p><%= @user.name %></p><br />

<h3>User.username</h3>
<p><%= @user.username %></p><br />

<h3>Events Attended</h3>
<% @user.attended_events.all.each do |e| %>
  <%= e.title %><br />
  <%= e.creator.name %>
<% end %>

