
<h2><%= @user.name %></h2><br />

<h3>Your Username</h3>
<p><strong><%= @user.username %></strong></p><br />
<%= link_to "Edit Info", edit_user_path(@user) %>
<h3>Events Attended</h3>
<% @user.attended_events.all.each do |e| %>
  <%= link_to "#{e.title}", event_path(e) %><br />
<% end %>

